# Ignore all
*

# Unignore directories
!*/

*x64/
*Debug/
*.vs/


# Unignore source code files and txt
!**.gitignore
!**.wav
!**.mp3
!**.cpp
!**.h
!**.txt
!**.xml
!**.hpp
!**.json
!**.dll
!**.jpeg
!**.jpg
!**.png